body {
    margin: 0;
    font-family: sans-serif;
}
/* Topo */
.cabecalho {
/*    margin: 10px 4px 7px 4px;*/
    padding: 20px;
    background-color:#fff;
    display:flex;
    flex-direction:row;
    align-content:center;
    border:2px solid maroon;
}
/* Seção conteúdo */
.img-conteudo {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    position: relative;
    bottom: 0;
    padding: 20px;
    box-sizing: border-box;
    background: #f8f8f8;
}

    footer p {
        color: maroon;
        font-family: sans-serif;
        text-align: center;
    }
.topo {
    /*    text-align: center;*/
    height: auto;
    width: 100%;
    font-size: 24px;
    margin-left: 10px;
    border: 2px solid blue;
}
.container {
    width: 100vw;
    height:100vh;
    display: flex;
    flex-direction:row;
    position: relative;
    margin: 10px;
    overflow: auto auto;
    justify-content: center;
    align-items: center;
    border: 2px solid red
}
.box {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 25px;
    display: flex;
    flex-direction:column;
    position: absolute;
    align-items: center;
    border: 2px solid black;
    font-size:12px;
}
    .box h3 {
        background-color: #5d15d1;
    }
.local-logo {
    object-fit:cover;
}
.block {
    width: calc(100% - 20px);
    margin: 10px;
    display: flex;
    flex-direction: row;
    object-fit: cover;
    padding: 10px;
    text-align: left;
}
.block-image {
    height: calc(((100vw - (100vw - 900px))/3 - 20px) /2);
    box-shadow: 20px 20px 10px;
    padding: 10px;
}

.block-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grupo-campo {
    display: flex;
    flex-direction:row;
    align-content:center;
    width:100%;
    border:5px solid yellow;
}
    .grupo-campo input, .grupo-campo select {
        margin: auto auto;
        height: 120px;
    }
.secao-largura-limitada {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    border:5px dotted green;
}
div {
    margin: 0 0 15px 0;
    padding: 20px;
}

.secao-conteudo {
    width: 100%;
    height: auto;
    padding: 25px 0;
}


.flex-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem {
    width: 450px;
    height: 325px;
    object-fit: cover;
}
/*<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&amp;display=swap" >*/